@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --avermelhado: #FF4500;
    --laranja-degrade: linear-gradient(97.54deg, #FF7F00 35.49%, #FF4500 165.37%);
    --fonte-principal: "Poppins";
    --amarelo: #FFFF00;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
