@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #F9EBD0; 
    --branco: #7D7F7D; 
    --laranja: hsl(318, 75%, 29%); 
    --azul-degrade: linear-gradient(97.54deg, hsl(71, 95%, 77%) 35.49%, hsl(61, 97%, 66%) 165.37%); 
    --fonte-principal: "Poppins";
    --azul: #3B8A4B; 
    --fonte-secundario: "Josefin Sans";
    --preto: hwb(17 3% 15%); 
    --cinza: #394029;
    --cinza-claro: hsl(0, 69%, 42%);


body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}