@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #f13be8;
    --branco: #290553;
    --laranja: #e0de53;
    --azul-degrade: linear-gradient(97.54deg, #921d37 35.49%, #05864c 165.37%);
    --fonte-principal: "Poppins";
    --azul: #63b911;
    --fonte-secundario: "Josefin Sans";
    --preto: #ff0505;
    --cinza: #2b1d21;
    --cinza-claro: #40e90d;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}